body {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-size: 62.5%;
    min-height: 100%;
}

a {
    text-decoration: none;
}

.menu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: black;
    font-size: 2rem;
    text-align: center;
    box-shadow: 0px 0px 27px 0px #000000;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    width: 10rem;
    margin-top: 0.5rem;

}

.menu ul li a {
    color: white;
    transition: color;
    transition-duration: 1s;
}

.menu ul li a:hover {
    color: blueviolet;
}

.contConnexion {
    width: 80%;
    height: 90vh;
    margin: auto;
    margin-top: 10vh;
    background-color: lightblue;
    box-shadow: 0px 0px 27px 0px lightblue;
}

.formulaire {
    width: 50%;
    height: 50%;
    margin: auto;
    padding-top: 10rem;
    background-color: lightgrey;
}

.formulaire input {
    display: block;
    margin: 1rem auto auto;
}

.tableauVente {
    position: relative;
    top: 75px;
    z-index: -1;
    width: 80%;
    height: 100%;
    background-color: darkgrey;
    margin: auto;
}
.tableauVente ul {
    list-style: none;
    text-align: center;
    width: 50%;
    margin: auto;
}

.tableauVente li {
    border: 1px solid black;
}

.tableauVente .nameItem {
    position: relative;
    top: 0px;
    right: 220px;
    font-size: 20px;
    color: indianred;
    display: block;
}

.tableauVente .price {
    position: relative;
    top: 60px;
    left: 220px;
    font-size: 20px;
    color: indianred;
    display: block;
}

.tableauVente a {
    display: inline-block;
    width: 20%;
    border: 1px solid orangered;
    position: relative;
    top: 0;
    left: 10px;
    font-size: 20px;
}